<h1 class="page-header"><%= t('cart.title') %></h1>

<% if @cart.cart_items.empty? %>
   <%= t('cart.empty') %>
<% else %>
   <%= render partial: 'cart_items', locals: { items: @cart.cart_items, edit: true } %>

  Total Price: <%= @cart.total_price %>

<% end %>